body {
    display: flex;
    flex-direction: column;
    background-color: #F4EFE1;
}

header {
    background: #450084;
    text-align: center;
    & h1 {
        color: #CBB677;
    }
    & a {
        color: #CBB677;
    }
    & a:hover {
        color: #F4EFE1;
    }
}

main {
    max-width: 800px;
    padding: 1em 0;
    margin: 0 auto;
}

li {
    list-style-image: url("../images/jmu-logo.png");
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 3px solid #450084;
}